@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap");

body {
  background: linear-gradient(90deg, pink, skyblue);
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.mainheading {
  font-weight: bolder;
  font-size: xx-large;
}
.image1 img {
  width: 70px;
}
div {
  font-family: "Fuzzy Bubbles", "Roboto Mono";
}
div ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  background: black;
  color: white;
}
div ul li {
  margin: 0 10px;
}
h1 {
  margin: 5px;
}
.playlist {
  font-family: "Roboto Mono";
  display: flex;
  margin-top: 30px;
  background-image: url("music.jpg");
  background-size: cover;
  color: white;
  border-radius: 4px;
  width: 70%;
  min-height: 85vh;
  margin: 20px auto;
  flex-direction: column;
}
.playrange {
  width: 65vw;
}
.container {
  position: sticky;
  bottom: 0;
  background-color: black;
  padding: 5px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}
#musicbutton {
  padding: 0 50px;
}
#masterbtn {
  padding: 0 50px;
}

.button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
.songslist {
  display: flex;
  width: 40%;
  height: 5vh;
  margin: 0 10px;
  align-items: center;
  overflow: hidden;
  border: solid white;
  border-radius: 40px;
  justify-content: space-evenly;
  position: relative;
  top: 10px;
  left: 10px;
}
span {
  padding: 10px;
}

.image {
  position: absolute;
  left: 5px;
}

.music {
  position: absolute;
  left: 80px;
}

.btn {
  position: absolute;
  right: 5px;
}

.time {
  position: relative;
  left: 150px;
}

.songslist img {
  height: 30px;
  border-radius: 50%;
}
.songname img {
  height: 30px;
  border-radius: 63px;
}
.songname {
  position: absolute;
  left: 17vw;
  bottom: 15px;
  color: #f9f3f3;
  display: flex;
  align-items: center;
  border-radius: 40px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1550px){
  .time{
    display: none;
  }
  .music {
    position: absolute;
  left: 50px;
  width: 50%;
}
}


@media only screen and (max-width: 1000px){
  .songslist{
    width: 80%;
  }
  .container {
    height: 12vh;
  }
  .songname {
    left: 37vw;
  }

}

@media only screen and (max-width: 500px){
  .playlist{
    width: 100%;
  }

  .songslist{
    width: 90%;
  }

  .image {
    position: absolute;
    left: -5px;
}

.music {
  position: absolute;
  left: 42px;
}

.time{
  display: none ;
}

.container{
  height: 10vh;
}

.songname{
  left: 27vw;
}

.button{
  margin-top: 10px;
}
.songname {
  left: 26vw;
}
}

