@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap");

body {
  background: linear-gradient(90deg, pink, skyblue);
  /* background-image: url('guitar.png' );
    background-size: 700px;
    background-repeat: repeat-x; */
}
* {
  margin: 0;
  padding: 0;
}
.mainheading{
    font-weight: bolder;
    font-size: xx-large;
}
.image1 img {
  width: 70px;
}
div {
  font-family: "Fuzzy Bubbles", "Roboto Mono";
}
div ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  background: black;
  color: white;
}
div ul li {
  margin: 0 10px;
}
h1 {
  margin: 5px;
}
.playlist {
  font-family: "Roboto Mono";
  display: flex;
  margin-top: 30px;
  background-image: url("music.jpg");
  background-size: cover;
  color: white;
  border-radius: 4px;
  width: 70%;
  min-height: 85vh;
  margin: 20px auto;
  flex-direction: column;
}
.playrange {
  width: 65vw;
}
.container {
  position: sticky;
  bottom: 0;
  background-color: black;
  padding: 5px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}
#musicbutton {
  padding: 0 50px;
}
#masterbtn{
  padding: 0 50px;
}

.button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
.songslist {
  display: flex;
  width: 40%;
  margin: 0 10px;
 align-items: center;
 border: solid white;
border-radius: 40px;
 
}
span{
    padding: 10px;
}
.songslist img {
  height: 30px;
  border-radius: 50%;
}
.songname img{
    height: 30px;
  border-radius: 63px;
}
.songname{
   position: absolute;
   left: 0vw;
   background-color: whitesmoke;
   color: black;
   display: flex;
   /* width: 40%; */
   
  align-items: center;
 
 border-radius: 40px;
 opacity: 0;
 transition: opacity 1s ease-in;
}